.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &__page {
    width: 60px;
    height: 40px;
    padding: 5px;
    text-align: center;
    border: 2px solid #2a5c5d;
    border-radius: 30px;
    font-size: 20px;
    color: #2a5c5d;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:active {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__active {
      width: 60px;
      height: 40px;
      padding: 6px;
      text-align: center;
      background-color: #2a5c5d;
      border-radius: 30px;
      font-size: 20px;
      color: #fff;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}

.btnBlock {
  display: flex;
  justify-content: center;

  &__btn {
    background-color: #2a5c5d;
    border-radius: 30px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    color: #fff;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:active {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}
